<div class="push8"></div>
<script src="/js/loginPageStyle.js"></script>
<div class="container">
  <div class="jumbotron opaque border border-dark">
    <h1 class="LuckyFont text-center">J O B<span class="text-info"> S K R</span></h1>
    <h4 class="border-bottom">About</h4>
    <p><b>JOBSKR</b> is a web-based database management app to help people with ther career searches.  Users are able to input, update, and organize their job leads, and track them while logged in with a secure profile.  They are also able to search for different jobs using <b>AuthenticJobs</b> and <b>USAJobs</b> and can save those leads into their profile with the click of a button. </p>
    <p>The <b>JOBSKR</b> desktop site was launched on July 28th, 2018 by a group of students at the University of Texas Coding Bootcamp.</p>
    <h4 class="border-bottom"> The Team</h4>
    <div class="row">
      <div class="col-sm-6 col-lg-3 mb-2">
        <div class="card p-2">
          <h5 class="border-bottom1 border-secondary">Jamie Reaves</h5>
          <ul>
            <li>Routes Management</li>
            <li>Implementation of Job Search API</li>
          </ul>
          <a href="https://github.com/jamiereaves" class="text-center">Jamie's Website</a>
        </div>
      </div>
      <div class="col-sm-6 col-lg-3 mb-2">
        <div class="card p-2">
          <h5 class="border-bottom1 border-secondary">Kevin Clayton</h5>
          <ul>
            <li>Security and Login Administration</li>
          </ul>
          <a href="https://github.com/KBClayton" class="text-center">Kevin's Website</a>
        </div>
      </div>
      <div class="col-sm-6 col-lg-3 mb-2">
        <div class="card p-2">
          <h5 class="border-bottom1 border-secondary">Alan Andrews</h5>
          <ul>
            <li>Handlebars and Data Interaction Management</li>
          </ul>
          <a href="https://github.com/AlanAndrews" class="text-center">Alan's Website</a>
        </div>
      </div>
      <div class="col-sm-6 col-lg-3 mb-2">
        <div class="card p-2">
          <h5 class="border-bottom1 border-secondary">Alex Bruner</h5>
          <ul>
            <li>Database Management</li>
            <li>UI Designer</li>
          </ul>
          <a href="https://sunshinedaydeam.github.io/MyPortfolio/index.html" class="text-center">Alex's Website</a>
        </div>
      </div>
    </div>

    <h4 class="border-bottom">F.A.Q.</h4>

      <p class="mb-0"><b>How can I invest in your company?</b></p>
      <p>Send us money. We do not currently accept Bitcoin.</p>
      
      <p class="mb-0"><b>How hard is it to find a job?</b></p>
      <p>It is tough. Hard work and determination will eventually pay off.</p>
      
      <p class="mb-0"><b>Is there a mobile App?</b></p>
      <p>Not yet. The mobile app for Android and iOS is slated for future developent.</p>
      
      <p class="mb-0"><b>What are you looking to add to the site in the future?</b></p>
      <p>We have a lot of ideas including advertisements and Indeed API integration.</p>

    <h4 class="border-bottom">App Resources</h4>
        <p><b>CLIENT:</b> HTML, CSS, JavaScript/jQuery,USAJobs API, AuthenticJobs API, Bootstrap 4.1</p>
        <p><b>SERVER:</b> Node.js, Express, Express-Handlebars, MySQL, Sequelize, Jaws_DB, Cookies, Heroku</p>
        <p><b>OTHER:</b> Git, ESLint, Pexels License-Free Images, Hard work and Perserverance*</p>


    </div>
  </div>
</div>
