<div class="bg-info p-3 border-top border-bottom border-secondary opaque">
    <div class="container">
      <div class="row">
        <div class="col-12 border-bottom">
          <h1> My Job Leads <span><button class="btn btn-secondary">+</button></span></h1>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-6">
          <div class="card p-3">
            <div class="row">
              <div class="col-8">
                <h4>Job Listing 1</h4>
                <p>Company Name</p>
              </div>
              <div class="col-4">
                <button class="btn btn-secondary">Add Comment</button>
              </div>
            </div>
          </div>
          <div class="card p-3">
            <div class="row">
              <div class="col-8">
                <h4>Job Listing 2</h4>
                <p>Company Name</p>
              </div>
              <div class="col-4">
                <button class="btn btn-secondary">Add Comment</button>
              </div>
            </div>
          </div>
          <div class="card p-3">
            <div class="row">
              <div class="col-8">
                <h4>Job Listing 2</h4>
                <p>Company Name</p>
              </div>
              <div class="col-4">
                <button class="btn btn-secondary">Add Comment</button>
              </div>
            </div>
          </div>
        </div>
        <div class="col-6">
          <p>Sort By</p>
          <input type="text">
        </div>
      </div>
    </div>
  </div>