<div class="push8"></div>
<div class="container">
	<div class="row">
		<div class="col-md-4">
			<div class="row">
				<div class="panel panel-default">
					<div class="panel-body">
						<div class="create-event">
							<h2>Enter User Preferences</h2><br>
							<div class="col-md-12">
								<form action="/...." method="POST">
									<div class="form-group">
										<label for="firstName">First Name</label>
										<input type="text" class="form-control" name="firstName" id="firstname" placeholder="First Name">
									</div>
                                    <div class="form-group">
										<label for="lastName">Last Name</label>
										<input type="text" class="form-control" name="lastName" id="lastName" placeholder="Last Name">
									</div>
                                    <div class="form-group">
										<label for="userName">User Name</label>
										<input type="text" class="form-control" name="userName" id="username" placeholder="Username">
									</div>
									<div class="form-group">
										<label for="createPassword">Create Password</label>
										<input type="text" class="form-control" name="password" id="password" placeholder="Password">
									</div>

										<input type="hidden" value="true">
										<button class="btn btn-site btn-sm" type="submit"><a>Done</a></button>
									</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>