<div class="push8"></div>
<div class="container">
	<div class="row">
		<div class="col-md-1"></div>
		<div class="col-md-10">
			<div class="card p-3 bg-light border-secondary mb-3">
				<h3 class="bg-info text-light p-3 border border-dark">Create Your Free Profile!</h3>
				<br>
				<div class="row">
          <div class="col-md-2"></div>
					<div class="col-md-8">
            <p class="mb-2"><u>Basic Info</u><span class="text-danger"> *</span></p>
						<div class="form-group">			
              {{!-- <label for="username" class="mb-0">Pick a username<span class="text-danger"> *</span></label>				 --}}
							<input type="text" class="form-control" name="username" id="usernameCreate" placeholder="Enter a username...">
						</div>
            <div class="form-group">						
							<input type="text" class="form-control" name="username" id="emailCreate" placeholder="Email Address...">
						</div>
            <div class="form-group">						
							<input type="text" class="form-control" name="username" id="firstNameCreate" placeholder="First Name...">
						</div>
            <div class="form-group">					
							<input type="text" class="form-control" name="username" id="lastNameCreate" placeholder="Last Name...">
						</div>
            <p class="mb-2"><u>Where are you looking for a job</u></p>
            <div class="form-group">						
							<input type="text" class="form-control" name="username" id="locationCreate" placeholder="Location...">
						</div>
            <p class="mb-2"><u>Choose a Password</u><span class="text-danger"> *</span></p>            
						<div class="form-group">
							<input type="password" class="form-control" name="company" id="passwordCreate" placeholder="Choose a Password...">
						</div>
						<div class="form-group">
							<input type="password" class="form-control" name="location" id="passwordCreateVerify" placeholder="Retype Password...">
						</div>
					</div>
          <div class="col-md-2"></div>
					<div class="col-12">
						<br>

						<div class="text-center">
							<button class="btn btn-success btn-lg" id="create-newUser">Create Profile</button>
						</div>
						<div>
							<p class="mt-3 mb-0"><span class="text-danger">*</span><i> Denotes Required Fields</i></p>
						</div>
					</div>		
				</div>
			</div>
		</div>
		<div class="col-md-1"></div>
	</div>
</div>